DATABASE_URL="sqlserver://192.168.8.93:1433;database=hr-test;user=sa;password=CHANGE_ME;trustServerCertificate=true;encrypt=true"
NUXT_SESSION_PASSWORD="replace-with-a-random-32-character-or-longer-secret"
